<ion-header>
    <ion-toolbar>
        <ion-title>QC Management</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid style="height: 100%; display: flex; flex-flow: column;">
        <ion-row style="flex-grow: 1;">
            <ion-col size-md="2" size-xs="0"></ion-col>
            <ion-col class="ion-align-self-center" size-md="8" size-xs="12" style="flex-grow: 1; height:100%;">
                <app-login></app-login>
            </ion-col>
            <ion-col size-md="2" size-xs="0"></ion-col>
        </ion-row>
    </ion-grid>

    <!--<ion-grid *ngIf="!isMD">-->
    <!--<ion-row>-->
    <!--<ion-col size="4"></ion-col>-->
    <!--<ion-col size="4" class="ion-align-self-center">-->
    <!--<div>-->
    <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
    <!--<p>QC Management App</p>-->
    <!--</div>-->
    <!--</ion-col>-->
    <!--<ion-col size="4"></ion-col>-->
    <!--</ion-row>-->
    <!--</ion-grid>-->


</ion-content>
<!--<ion-footer>-->
<!--<ion-toolbar>-->
<!--<ion-row>-->
<!--<ion-col>-->
<!--<ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>-->
<!--</ion-col>-->
<!--<ion-col>-->
<!--<ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->
