<!--<ion-header>-->
<!--<ion-toolbar>-->
<!--<ion-grid>-->
<!--<ion-row>-->
<!--<ion-col  size-xs="5" size-md="6" class="ion-align-self-center">-->
<ion-title>Login</ion-title>
<!--</ion-col>-->
<!--<ion-col  size-xs="3" size-md="5">-->
<!--</ion-col>-->
<!--<ion-col  size-xs="4" size-md="1">-->
<!--&lt;!&ndash;<ion-button class="ion-float-end" color="danger" (click)="dismissLogin()">X</ion-button>&ndash;&gt;-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--</ion-grid>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>
    <form #form="ngForm" (ngSubmit)="form.form.valid && login(form)" method="post">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input #email="ngModel" autocomplete="true" autofocus="true" inputmode="email" name="email"
                       ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                       type="email"></ion-input>
        </ion-item>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
            <div *ngIf="email.errors?.required && email.dirty">Email is required</div>
            <div *ngIf="email.errors?.pattern">Email must be a valid email address</div>
        </div>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input #password="ngModel" (keyup.enter)="form.form.valid && login(form)" inputmode="password"
                       name="password" ngModel required type="password"></ion-input>
        </ion-item>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">
            <div *ngIf="password.errors?.required">Password is required</div>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <!--<ion-item lines="none">-->
                    <!--<ion-checkbox ngModel name="remember_me" ></ion-checkbox>-->
                    <!--<ion-label class="ion-margin-start ion-text-wrap"> Remember me</ion-label>-->
                    <!--</ion-item>-->
                </ion-col>
                <ion-col size="6">
                    <ion-anchor (click)="forgotModal()" [routerLink]="" class="ion-float-right ion-text-wrap"
                                color="dark"><p>Forgot Password?</p></ion-anchor>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button color="primary" expand="full" type="submit">Login</ion-button>
    </form>
    <p text-center>Don't have a account?</p>
    <ion-button (click)="registerModal()" color="danger" expand="full">Register</ion-button>
</ion-content>
